/* General Styles */
#home{
  background-image: url("./img4.jpg");
  background-size: cover; /* Cover the entire area */
  background-repeat: no-repeat; /* Prevent tiling */
  background-position: center; /* Center the image */
}

body {
    
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}



h1, h2, h3, h4 {
    color: #333;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.6;
    
    max-width: 800px;
    margin: 10px auto;
    text-align: justify;
}

ul {
    list-style-type: circle;
    padding-left: 20px;
    max-width: 800px;
    margin: 10px auto;
    color: #444;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Navigation Bar */
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Homepage Specific Styles */
.index-page h1 {
    font-size: 40px;
    color: #005f73;
    margin: 20px;
}

.index-page img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.index-page h4 {
    font-size: 24px;
    color: #0a9396;
    margin-top: 20px;
}

.index-page ul {
    list-style-type: square;
    text-align: left;
}

/* About Page Specific Styles */
.about-page h2 {
    font-size: 32px;
    color: #6a0572;
}

.about-page h3 {
    font-size: 24px;
    color: #6a0572;
    margin-top: 20px;
}

.about-page img {
    width: 250px;
    height: auto;
}

.about-page hr {
    border: 1px solid #6a0572;
    margin: 20px 0;
}
